{% extends 'base.html' %}

{% block jumbotron %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Get Incentive for This User</h1>
      </div>
    </div>
{% endblock %}

{% block content %}
    <!-- List of uploaded documents -->
    {% block checkuser %}
        {% if user.is_authenticated %}
			{% if best_incentive %}
                <h4>Incentive:</h4>
				<ul>
					<li>{{ best_incentive }}</li>
				</ul>
			{% endif %}

			<form action="{% url "getIncUser" %}" method="post">
				{% csrf_token %}
				{{ form.non_field_errors }}
                {{ form.as_p }}
                <!--label for="userID">User ID: </label>
    			<input id="userID" type="text" name="userID" value="{{ user_id }}">
                <label for="created_at">Created At: </label>
                <input id="created_at" type="text" name="created_at" value="{{ created_at }}"-->
				<p><input type="submit" value="Get Incentive" /></p>
			</form>
        {% else %}
            <h1>You Need to Sign In first</h1>
        {% endif %}
    {% endblock%}
{% endblock %}
