{% extends 'base.html' %}
{% load bootstrap %}

{% block jumbotron %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Incentive Page</h1>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="col-md-4"></div>
    <div class="col-md-4">
        {% block checkuser %}
            {% if user.is_authenticated %}
                <h3>Add New Incentive:</h3>
                <br>
                <form method='POST' action=''>
                    {% csrf_token %}
                    {{form|bootstrap}}
                    <input type="submit" class="btn btn-success btn-block"/>
                </form>
            {% else %}
                <h1>You Need to Sign In first</h1>
            {% endif %}
        {% endblock%}
    </div>
{% endblock %}