{% extends 'base.html' %}

{% block jumbotron %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Incentive Page</h1>
      </div>
    </div>

{% endblock %}


{% block content %}
<div class="col-md-4"></div>
        <div class="col-md-4">
            {% block checkuser %}
                                {% if user.is_authenticated %}
         <h1>Add Incentive:</h1>
<form method='POST' action=''> {% csrf_token %}
    {{form.as_p}}

    <input type="submit" class="btn btn-success btn-block"/>
</form>
 {% else %}
            <h1>You Need to Sign In first</h1>
            {% endif %}
            {% endblock%}
        </div>


{% endblock %}