{% extends 'base.html' %}
{% load bootstrap %}

{% block jumbotron %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Invalidate Peers from Collective</h1>
      </div>
    </div>
{% endblock %}

{% block content %}
    <div class="col-md-4"></div>
    <div class="col-md-4">
        {% block checkuser %}
            {% if user.is_authenticated %}
                <h4>Enter the Peer IDs you want to invalidate, sepereted by semicolon (;).</h4>
                <br>
                <form action="{% url "invalidate" cid %}" method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {{ form|bootstrap }}
                    <div class="form-group">
                      <button type="submit" class="btn btn-success btn-block">Invalidate</button>
                    </div>
                </form>
            {% else %}
                <h1>You Need to Sign In first</h1>
            {% endif %}
        {% endblock%}
    </div>
    <div class="col-md-4"></div>
{% endblock %}
