{% extends 'base.html' %}

{% block jumbotron %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            {% if user.is_authenticated %}
                <h1>Hi, {{request.user.first_name}} {{ request.user.last_name }} </h1>
                <h2>This is your profile</h2>
            {% else %}
                <h1>Your Profile</h1>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="col-md-4">
        {% block checkuser %}
            {% if user.is_authenticated %}
                {% if incentives %}
                    <h3>Incentives:</h3>
                    <div class="table-responsive" style="margin-left: 5px;">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Scheme ID</th>
                                    <th>Scheme Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for incentive in incentives_list %}
                                    <tr>
                                        <td>{{ incentive.0 }}</td>
                                        <td>{{ incentive.1 }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endif %}
                <hr>
                <h3>Data Sets:</h3>
                {% if documents %}
                    <ul>
                    {% for document in documents %}
                        <li><a href="{{ document.docfile.url }}" style="color: #222222; font-size: 16px;">{{ document.docfile.name }}</a></li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>No data set was uploaded yet.</p>
                {% endif %}
                <br>
                <button type="button" class="btn btn-primary" onclick="location.href='{% url "data_set" %}';">Upload Data Set</button>
            {% else %}
                <h1>You Need to Sign In first</h1>
            {% endif %}
        {% endblock%}
    </div>
{% endblock %}