{% extends 'base.html' %}

{% block jumbotron %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Change Timeout</h1>
      </div>
    </div>
{% endblock %}

{% block content %}
    <div class="col-md-4"></div>
    <div class="col-md-4">
        {% block checkuser %}
            {% if user.is_authenticated %}
                <form action="{% url "changeTimeout" %}" method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {{form.as_p}}
                    <p><input type="submit" class="btn btn-success" value="Change" style="width: 237px"/></p>
                </form>
            {% else %}
                <h1>You Need to Sign In first</h1>
            {% endif %}
        {% endblock %}
    </div>
    <div class="col-md-4"></div>
{% endblock %}